html
{
	margin: 0;
	padding: 0;
	font-family: "droid sans", "dejavu sans", sans-serif;
}

body
{
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: #cccccc;
}

div
{
	margin: 0;
	padding: 0;
}

h1
{
	font-weight: normal;
}

h2
{
	font-weight: normal;
}

h3
{
	font-weight: normal;
}

#content-container
{
	margin-left: 4.8%;
	width: 95.2%;
	display: inline-block;
}

#control-pannel
{
	left: 0;
	top: 0;
	width: 24%;
	height: 100%;
	position: fixed;
	display: inline-block;
	background-color: #4400aa;
	transform: translateX(-80%);
	transition: transform 1s ease;
}
#control-pannel:hover
{
	transform: translateX(0);
}

#control-element-list
{
	height: 100%;
	width: 80%;
	display: inline-block;
}

.control-element
{
	color: #cccccc;
	text-align: left;
	padding: 2% 8%;
	font-size: 26px;
	cursor: pointer;
}
.control-element:hover
{
	color: #ffffff;
}

.button
{
	padding: 6px;
	background-color: #4400aa;
	color: #ffffff;
	display: inline-block;
	cursor: pointer;
}
.button:hover
{
	background-color: #6622cc;
}

textarea
{
	border: 3px solid #cccccc;
	resize: none;
}

input
{
	border: 3px solid #cccccc;
}

#account-page
{
	background-color: #ffffff;
	box-sizing: border-box;
	margin: 16px 20% 0 14%;
	padding: 24px 4%;
	width: 64%;
	height: auto;
	display: none;
}

#people-page
{
	width: 100%;
	height: auto;
	display: none;
}

#conversations-page
{
	width: 100%;
	height: auto;
	display: none;
}

#about-page
{
	background-color: #ffffff;
	box-sizing: border-box;
	margin: 16px 20% 0 14%;
	padding: 24px 10%;
	font-size: 24px;
	width: auto;
	height: auto;
	display: none;
	text-align: center;
}

.unit-element
{
	font-size: 18px;
	margin: 20px;
	padding: 0;
	cursor: pointer;
	display: inline-block; 
	vertical-align: top; 
	width: 160px;
	background-color: #ffffff;
}

.unit-header
{
	margin: 0;
	color: #cccccc;
	background-color: #4400aa;
	padding: 6px;
	height: auto;
	text-align: center;
}

.user-info
{
	margin: 4px auto;
	padding: 0;
	background-image: url(user.png);
	background-size: contain;
	height: 128px;
	width: 128px;
}

.conv-info
{
	margin: 4px auto;
	padding: 0;
	background-image: url(page.png);
	background-size: contain;
	height: 128px;
	width: 128px;
}

.newconv-info
{
	margin: 4px auto;
	padding: 0;
	background-image: url(newpage.png);
	background-size: contain;
	height: 128px;
	width: 128px;
}
