:root
{
	--page-color: #cccccc;
	--pannel-color: #4400aa;
	--pannel-active-color: #6622cc;
	--blank-color: #ffffff;
	
	--control-pannel-size: 24%;
	--control-pannel-hide-factor: 0.2;
	
	--page-font-size: 1.2wv;
	--control-pannel-font-size: 2.0vw;
}

html
{
	margin: 0;
	padding: 0;
	font-family: "droid sans", "dejavu sans", sans-serif;
}

body
{
	margin: 0;
	padding: 0;
	font-size: var(--page-font-size);
	background-color: var(--page-color);
}

div
{
	margin: 0;
	padding: 0;
}

#content-container
{
	margin-left: 
		calc(
			var(--control-pannel-hide-factor)*
			var(--control-pannel-size)
		);
	width: 
		calc(
			100% -
			var(--control-pannel-hide-factor)*
			var(--control-pannel-size)
		);
	display: inline-block;
}

#control-pannel
{
	left: 0;
	top: 0;
	width: var(--control-pannel-size);
	height: 100%;
	position: fixed;
	display: inline-block;
	background-color: var(--pannel-color);
	transform: 
		translateX(calc(
			100%*(var(--control-pannel-hide-factor) - 1)
		));
	transition: transform 1s ease;
}
#control-pannel:hover
{
	transform: translateX(0);
}

#control-element-list
{
	height: 100%;
	width: 80%;
	display: inline-block;
}

.control-element
{
	color: #cccccc;
	text-align: left;
	padding: 2% 8%;
	font-size: var(--control-pannel-font-size);
	cursor: pointer;
}
.control-element:hover
{
	color: #ffffff;
}

.button
{
	padding: 6px;
	background-color: var(--pannel-color);
	color: #ffffff;
	display: inline-block;
	cursor: pointer;
}
.button:hover
{
	background-color: var(--pannel-active-color);
}

textarea
{
	border: var(--input-text-area-border) solid #cccccc;
	resize: none;
}

#account-info
{
	padding: 8% 8%;
}

#account-page
{
	width: 100%;
	height: auto;
	display: none;
}

#people-page
{
	width: 100%;
	height: auto;
	display: none;
}

#conversations-page
{
	width: 100%;
	height: auto;
	display: none;
}

#about-page
{
	width: 100%;
	height: auto;
	display: none;
}

.unit-element
{
	font-size: 18px;
	margin: 20px;
	padding: 0;
	cursor: pointer;
	display: inline-block; 
	vertical-align: top; 
	width: 160px;
	background-color: var(--blank-color);
}

.unit-header
{
	margin: 0;
	color: #cccccc;
	background-color: var(--pannel-color);
	padding: 6px;
	height: auto;
	text-align: center;
}

.user-info
{
	margin: 4px auto;
	padding: 0;
	background-image: url(user.png);
	background-size: contain;
	height: 128px;
	width: 128px;
}

.conv-info
{
	margin: 4px auto;
	padding: 0;
	background-image: url(page.png);
	background-size: contain;
	height: 128px;
	width: 128px;
}

.newconv-info
{
	margin: 4px auto;
	padding: 0;
	background-image: url(newpage.png);
	background-size: contain;
	height: 128px;
	width: 128px;
}

#content-cover
{
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: #000000;
	top: 0;
	left: 0;
}

#prompt-cover
{
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: #000000;
	top: 0;
	left: 0;
	display: none;
}

#alert-cover
{
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: #000000;
	top: 0;
	left: 0;
	display: none;
}

#sign-prompt
{
	position: fixed;
	width: 60%;
	height: 80%;
	left: 20%;
	top: 10%;
	display: inline-block;
	vertical-align: top;
}

#register-field
{
	position: fixed;
	right: 22%;
	top: 12%;
	background-color: var(--blank-color);
	border: 3px solid #dddddd;
	box-sizing: border-box;
	padding: 10px;
	width: 24%;
	height: 76%;
	display: inline-block;
	text-align: center;
}

#sign-in-field
{
	position: fixed;
	left: 22%;
	top: 12%;
	background-color: var(--blank-color);
	border: 3px solid #dddddd;
	box-sizing: border-box;
	padding: 10px;
	width: 26%;
	height: 76%;
	display: inline-block;
	text-align: center;
}

.sign-table
{
	width: 100%;
	text-align: left;
}

input
{
	border: var(--input-text-area-border) solid #cccccc;
}

.sign-input
{
	width: 100%;
}

.sign-button
{
	font-size: 20px;
	padding: 8px;
	margin: 12px;
}

#prompt
{
	position: fixed;
	left: 20%;
	top: 30%;
	background-color: var(--blank-color);
	border: 3px solid #dddddd;
	box-sizing: border-box;
	padding: 10px;
	width: 60%;
	height: 40%;
	display: inline-block;
	text-align: center;
	display: none;
}

#alert
{
	position: fixed;
	left: 20%;
	top: 30%;
	background-color: var(--blank-color);
	border: 3px solid #dddddd;
	box-sizing: border-box;
	padding: 10px;
	width: 60%;
	height: 40%;
	display: inline-block;
	text-align: center;
	display: none;
}
